# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

see on olemas btw DB_HOST=sql7.freesqldatabase.com	
DB_USER=sql7780418	
DB_PASS=tIyjrs43zs
DB_NAME=sql7780418

