html, body{
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #fff;
}

.grid{
    display: grid;
    grid-template-columns: 19rem 1fr;
    grid-column-gap: 1.8rem;
    min-height: 100vh;
}

.logo{
    max-width: 150px;
    width: 100%;
    height: auto;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;      
}

h2{
    font-size: 3rem;
    margin: 0;
}

.content-container{
    min-height: 100vh;
    padding: 0 4rem 3rem 0;
    background-color: #fff;
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.intro-text {
    font-size: 1.1rem;
    margin-bottom: 4rem;
    line-height: 1.5;
}

.guide-section {
    background-color: #FFF5F5;
    border-radius: 15px;
    padding: 2.5rem;
    margin-bottom: 2rem;
    border: none;
}

.guide-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header-title{
    margin-top: 3rem;
}

.guide-section h3 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
    margin: 0;
}

.expand-arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.guide-description {
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
}