html, body{
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #fff;
}

.grid{
    display: grid;
    grid-template-columns: 19rem 1fr;
    grid-column-gap: 1.8rem;
    min-height: 100vh;
}

.nav-container{
    background-color: #F6E6E6;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
}

.create-test-btn, .startpage-btn, .guide-btn, .contact-btn, .logout-btn{
    font-size: 16px;
    width: 13.375rem;
    height: 3.125rem;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 12px rgba(184, 20, 52, .5);
    border-radius: 50px;
    text-align: center;
}

.form-btn{
    font-size: 16px;
    width: 8rem;
    height: fit-content;
    padding: .75rem;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 12px rgba(184, 20, 52, .5);
    border-radius: 50px;
    text-align: center;
}

.create-test-btn, .startpage-btn, .guide-btn, .contact-btn{
    margin-bottom: 1rem;
    margin-left: 2.7rem;
}

.create-test-btn, .logout-btn, .form-btn{
    background-color: #B81434;
    color: #fff;
}

.startpage-btn, .guide-btn, .contact-btn{
    background-color: #fff;
    color: #710A14;
}

.startpage-btn:hover, .guide-btn:hover, .contact-btn:hover{
    background-color: #F6E6E6;
}

.create-test-btn:hover, .logout-btn:hover, .form-btn:hover{
    background-color: #97102a;
}

.logo{
    max-width: 150px;
    width: 100%;
    height: auto;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;      
}

h2{
    font-size: 3rem;
    margin: 0;
}

.content-container{
    min-height: 100vh;
    padding: 0 15rem 3rem 0;
    background-color: #fff;
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.logout-btn{
    margin-top: 4rem;
    margin-right: -9rem;
}

.contacts-section {
    background-color: #FFF5F5;
    border-radius: 15px;
    padding: 2rem;
    margin-bottom: 1rem;
    border: none;
}

.contacts-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header-title{
    margin-top: 4rem;
    font-size: 2rem;
}

.contacts-section h3{
    font-size: 1.8rem;
    margin-bottom: 0.5rem; 
}

.contacts-content{
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
}

form label{
    display: flex;
    flex-direction: column;
    margin-bottom: .25rem;
    font-size: 1rem;
}

form input,
form textarea{
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 20rem; 
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1rem;
    box-sizing: border-box;
}