html, body{
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #fff;
}

h2{
    font-size: 3rem;
    margin: 0;
}

.content-container{
    min-height: 100vh;
    padding: 0 15rem 3rem 0;
    background-color: #fff;
}

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.header-title{
    margin-top: 4rem;
    font-size: 2rem;
}

.date {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}

.test-section {
    background-color: #FFF5F5;
    border-radius: 15px;
    padding: 2.5rem;
    margin-bottom: 2rem;
    border: none;
}

.test-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.test-section h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.test-description {
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
}

.test-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

.text-icon-container{
    display: flex;
    gap: 1rem; 
}

.test-icon{
    width: 26px;
    height: 26px;
}

.questions, .answers, .delete-test{
    font-size: 1rem;
}