.create-test-btn, 
.startpage-btn, 
.guide-btn, 
.contact-btn, 
.login-btn,  
.create-account-btn,
.save-new-pwd-btn,
.admin-btn{
    font-size: 16px;
    width: 13.375rem;
    height: 3.125rem;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.create-test-btn, 
.startpage-btn, 
.guide-btn,  
.login-btn, 
.create-account-btn,
.admin-btn{
    box-shadow: 0px 4px 12px rgba(184, 20, 52, .5);
}

.create-test-btn, 
.startpage-btn, 
.guide-btn, 
.admin-btn,
.create-account-btn{
    margin-bottom: 1rem;
    margin-left: 2.7rem;
}

.create-test-btn, 
.login-btn,
.save-new-pwd-btn,
.form-btn{
    background-color: #821b25;
    color: #fff;
}

.startpage-btn, 
.guide-btn, 
.create-account-btn,
.admin-btn{
    background-color: #fff;
    color: #710A14;
}

.startpage-btn:hover, 
.guide-btn:hover, 
.create-account-btn:hover,
.contact-btn:hover, 
.admin-btn:hover{
    background-color: #F6E6E6;
}

.create-test-btn:hover, 
.login-btn:hover,  
.save-new-pwd-btn:hover,
.form-btn:hover,
.save-btn:hover{
    background-color: #97102a;
}

.red-btn {
  background: #b52634;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.red-btn:hover {
  background: #821b25;
}

.save-btn {
  background: #b52634;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.logout-btn {
  position: fixed;
  bottom: 2rem;
  left: 5.6rem;
  cursor: pointer;
  color: #821b25;
  gap: 8px;
  font-size: 14px;
  background-color: #F6E6E6;
  border: none;
  padding: 0;
  border-bottom: 2px solid #821b25;
}

.logout-btn:hover {
  color: #97102a;
}

.logout-icon {
  width: 16px;
  height: 16px;
  filter: invert(15%) sepia(89%) saturate(1847%) hue-rotate(340deg) brightness(89%) contrast(90%);
  /* This filter creates the #B81434 color for the icon */
}