.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.create-test-btn, 
.startpage-btn, 
.guide-btn, 
.contact-btn, 
.login-btn, 
.logout-btn, 
.create-account-btn{
    font-size: 16px;
    width: 13.375rem;
    height: 3.125rem;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.create-test-btn, 
.startpage-btn, 
.guide-btn, 
.contact-btn, 
.login-btn, 
.logout-btn, 
.create-account-btn{
    box-shadow: 0px 4px 12px rgba(184, 20, 52, .5);
}

.create-account-btn{
    margin-top: 2rem;
}

.create-test-btn, 
.startpage-btn, 
.guide-btn, 
.contact-btn{
    margin-bottom: 1rem;
    margin-left: 2.7rem;
}

.create-test-btn, 
.logout-btn, 
.login-btn, 
.create-account-btn{
    background-color: #B81434;
    color: #fff;
}

.startpage-btn, 
.guide-btn, 
.contact-btn{
    background-color: #fff;
    color: #710A14;
}

.startpage-btn:hover, 
.guide-btn:hover, 
.contact-btn:hover{
    background-color: #F6E6E6;
}

.create-test-btn:hover, 
.login-btn:hover, 
.logout-btn:hover, 
.create-account-btn:hover{
    background-color: #97102a;
}