.create-test-btn, 
.startpage-btn, 
.guide-btn, 
.contact-btn, 
.login-btn, 
.logout-btn, 
.create-account-btn,
.contact-btn,
.save-new-pwd-btn{
    font-size: 16px;
    width: 13.375rem;
    height: 3.125rem;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.create-test-btn, 
.startpage-btn, 
.guide-btn, 
.contact-btn, 
.login-btn, 
.logout-btn, 
.create-account-btn{
    box-shadow: 0px 4px 12px rgba(184, 20, 52, .5);
}

.create-account-btn{
    margin-top: 2rem;
}

.create-test-btn, 
.startpage-btn, 
.guide-btn, 
.contact-btn{
    margin-bottom: 1rem;
    margin-left: 2.7rem;
}

.create-test-btn, 
.logout-btn, 
.login-btn, 
.create-account-btn,
.save-new-pwd-btn,
.form-btn{
    background-color: #B81434;
    color: #fff;
}

.startpage-btn, 
.guide-btn, 
.contact-btn{
    background-color: #fff;
    color: #710A14;
}

.startpage-btn:hover, 
.guide-btn:hover, 
.contact-btn:hover{
    background-color: #F6E6E6;
}

.create-test-btn:hover, 
.login-btn:hover, 
.logout-btn:hover, 
.create-account-btn:hover,
.save-new-pwd-btn:hover,
.form-btn:hover,
.save-btn:hover{
    background-color: #97102a;
}

.form-btn{
    font-size: 16px;
    width: 8rem;
    height: fit-content;
    padding: .75rem;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 12px rgba(184, 20, 52, .5);
    border-radius: 50px;
    text-align: center;
}

.red-btn {
  background: #b52634;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.red-btn:hover {
  background: #821b25;
}

.save-btn {
  background: #b52634;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}